@use 'base' as *;

// Updated to work with <aside> semantic element
.search-results {
  grid-area: list;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 0;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

// Updated to work with <footer> inside <aside>
.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  small {
    display: block;
  }

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}